/* 
 * 	Default theme - Owl Carousel CSS File
 */
 .owl-theme .owl-nav {
	margin-top: 5px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: rgba(150,150,150,0.4);
	font-size: 1.1em;
	margin: 0px;
	padding: 2px 3px;
    /*background-color:rgba(255,255,255,0.2);*/
	display: inline-block;
	cursor: pointer;
	border-radius: 10px;
}

.owl-carousel-related.owl-theme .owl-nav [class*='owl-'] {
    color: rgba(40,40,40,1.0);
}

.owl-theme .owl-nav [class*='owl-']:hover {
   /*background-color:rgba(0,0,0,0.4); */
   color: rgba(150,150,150,1.0);

   text-decoration: none;
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 5px;
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    height:40px;
    width:200px;
    margin: 0px auto;
    top:-50px;
    position: relative;
}
@media screen and (max-width:1000px) {
    .owl-theme .owl-dots {
        bottom:-60px;
    }
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; 
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 10px 1px 5px 1px;
    background-color:rgba(150,150,150,0.4); 

    display: block;
    backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background-color:rgba(150,150,150,1.0); 
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color:rgba(150,150,150,0.8);}

.owl-theme .owl-controls {position:relative; width:100%; z-index:20000; height:50px;}
.owl-theme .owl-controls #customDots {position:absolute; width:100%;}
.owl-theme .owl-nav {
    display: flex;
    align-items: center;
}
.owl-theme .owl-nav .owl-prev, .owl-theme .owl-nav .owl-next { 
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
} 
.owl-theme .owl-nav .owl-prev {left:-40px;}
.owl-theme .owl-nav .owl-next { right:-40px; }
.owl-carousel-related.owl-theme .owl-nav .owl-prev {left:-45px;}
.owl-carousel-related.owl-theme .owl-nav .owl-next { right:-45px; }
.owl-theme .owl-nav .owl-prev i, .owl-theme .owl-nav .owl-next i {line-height:100%;} 

.owl-theme .owl-dots .owl-dot:hover span { cursor:pointer;}
.owl-carousel .owl-item img {/*width:auto;*/ margin:0px auto;}


.owl-nav button span {
    display: block;
    padding: 10px;
    font-size:1.2em;
}

/* reset default */
.owl-theme button {
    border-style: none;
    background: none;
    padding-left: 4px;
    padding-right: 4px;
}

div.owl-carousel,
div.owl-carousel > div {
    height:100%;
}
div.controlContainer {
    width:74vw;
    padding:0;
    margin: 10px auto 0 auto;
    height: 50px;

}
#owl-controls {
    display: flex;
    align-items: center;
}


div.oSlide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

div.owl-stage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.owl-carousel .owl-item,
.owl-carousel-related .owl-item {
    background-color: #ffffff;
    /* prevent flashing on infinite loop */
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}


.owl-carousel-related .owl-stage-outer,
.owl-theme-slider .owl-stage-outer,
.owl-brand-slider .owl-stage-outer {
    overflow: hidden;
}
.owl-brand-slider .owl-stage-outer {
    background-color: rgba(40,40,40,1.0);
}
.owl-theme-slider .owl-nav,
.owl-brand-slider .owl-nav {
    margin-top: 0px;
    position: relative;
}
.owl-theme-slider .owl-nav .owl-prev,
.owl-brand-slider .owl-nav .owl-prev {
    left:20px;
    bottom:20px;
    /*top:44%;*/
    padding-left:1px;
    /* background-color: rgba(0,0,0,0.9); */
    /*box-shadow: 2px 2px 2px rgba(0,0,0,0.3);*/
 }
 .owl-theme-slider .owl-nav .owl-next,
 .owl-brand-slider .owl-nav .owl-next { 
    right:20px;
    bottom:20px;
    /* top:44%;*/
    padding-right:1px;
    /* background-color: rgba(0,0,0,0.9); */
    /*box-shadow: -2px 2px 2px rgba(0,0,0,0.3);*/
}
.owl-theme-slider.shop .owl-nav .owl-prev,
.owl-theme-slider.shop .owl-nav .owl-next {
    top:20vh; 
 }

.owl-theme-slider .owl-nav .owl-prev i, .owl-theme-slider .owl-nav .owl-next i,
.owl-brand-slider .owl-nav .owl-prev i, .owl-brand-slider .owl-nav .owl-next i 
    {line-height:100%;} 
/*    
.owl-theme-slider .owl-nav .owl-prev:hover,
.owl-brand-slider .owl-nav .owl-prev:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.owl-theme-slider .owl-nav .owl-next:hover,
.owl-brand-slider .owl-nav .owl-next:hover { 
    box-shadow: -4px 4px 4px rgba(0,0,0,0.2);
}
*/

@media screen and (max-width:1000px) {
    #customNav {
       display: none;
    }

    .owl-theme-slider .owl-nav,
    .owl-brand-slider .owl-nav {
        display: none;
    }
}


@media screen and (min-width:1000px) {
}





