/*!
* generated using stylus - don't alter
*/

// libs and default 3rd party
@import 'nib'
// setup
@import '../fonts/Montserrat/montserratCustom.css'

@require 'defaults.styl'
// block, nav etc
@require 'layout.styl'
// custom elements, icons
@require 'elements.styl'
// typography, links
@require 'typo.styl'
// typography, links
//@import '../css/form.css'





/* effects */
.multiply
    background-blend-mode: multiply
.softlight
    background-blend-mode: soft-light
    /*background-color: blackAlp25*/
.bgoverlay0
    background-color: blackAlp5 !important
.bgoverlay1
    background-color: blackAlp25 !important
.bgoverlay2
    background-color: blackAlp50 !important
.bgoverlay3
    background-color: blackAlp75 !important



.lighten1
    background-color: rgba(255,255,255,0.70)
    background-blend-mode: overlay
    filter:grayscale(80%)
.lighten2
    background-color: rgba(255,255,255,0.50)
    background-blend-mode: overlay
    filter:grayscale(80%)
.greyscale
    background-color: rgba(0,0,0,0.30)
    filter:grayscale(100%)
    transition: 1s
.greyscaleLt
    filter:grayscale(0%)
    transition: 2.5s


.burnColor
    background-blend-mode: color-burn
    opacity: 1.0
.gradient
    background-blend-mode: multiply
    background: linear-gradient(to bottom, brand2Alp50, blackAlp50) 
.gradient0
    background-blend-mode: multiply
    background: linear-gradient(to top, blackAlp5, rgba(255,255,255,0.0)) 

.gradient2
    background-blend-mode: multiply
    background: linear-gradient(to left top, black ,blackAlp50, blackAlp10)
    @media phoneRule
        background: brand1  
.gradient3
    background-blend-mode: multiply
    background: radial-gradient(circle at center, blackAlp5,blackAlp5,blackAlp5,blackAlp10, blackAlp25 )
    @media phoneRule
        background: brand1
.gradient4
    background-blend-mode: multiply
    background: linear-gradient(120deg, brand1, brand1, brand1)
.gradient5
    background-blend-mode: multiply
    background: linear-gradient(to top right, brand1, brand1)   
.gradient1
    background-blend-mode: multiply
    background: linear-gradient(to top, black 5%, brand1) 
    @media phoneRule
        background: brand1  



.gradientsec2
    //background-blend-mode: multiply
    background: linear-gradient(to right, 
        rgba(8,6,31,1.0), 
        rgba(8,6,31,1.0) 5%, 
        rgba(8,6,31,0) 35%, 
        rgba(8,6,31,0) 65%, 
        rgba(8,6,31,1.0) 95%, 
        rgba(8,6,31,1.0)
    )
    @media phoneRule
        background: brand1
.gradientsec3
    background-blend-mode: multiply
    background: linear-gradient(to bottom, whiteAlp07, rgba(0,0,0,0.0) )
.gradientsec4
    background-blend-mode: multiply
    background: linear-gradient(120deg,sec4darker, blackAlp10, blackAlp5, blackAlp5 )
.gradientsec4-alt
    background-blend-mode: multiply
    background: linear-gradient(220deg,sec4darker, blackAlp10, blackAlp5, blackAlp5 )









.blur
    filter:blur(10px)



// last in the cascade - highest prio
.restrictWidth
    max-width: 1400px
    margin: 0px auto
    @media phoneRule
        padding-left: padM
        padding-right: padM
    @media tabletRule
        padding-left: padM
        padding-right: padM
    @media desktopRule
        padding-left: padM
        padding-right: padM


.m
    @media screen and (min-width: tBreakPoint)
        display: $hideItAll
.d
    @media screen and (max-width: tBreakPoint)
        display: $hideItAll

