// typo defaults
a:link, a:visited
    color: brand2
    text-decoration: none
    transition: 0.5s
a:hover
    color: brand1
    //text-decoration: underline
    transition: 0.5s

/* p a:link,
p a:visited,
li a:link,
li a:visited
    text-decoration: underline

#navHeader a:link, #navHeader a:visited
    color: brand5
*/


// custom typo
ul
    margin-bottom: 2em
    padding-left: 0
    padding-right: 0

ul li
    font-size: 1.1em
    line-height: 1.4em
    margin-bottom: 0em
    list-style-type: none
    padding-bottom: 1.1em
    padding-top: 1em
    padding-right: 1em
    border-bottom: 1px solid brand2
ul li:last-child
    border-bottom: none
/*ul li:first-child
    padding-top: 0*/
ul.light li
    border-bottom: 1px solid whiteAlp50
ul p
    margin-bottom: 0
    margin-top: 0

.reverse ul
    border-top: 1px solid brand1
    border-bottom: 1px solid brand1
    @media phoneRule
        width: 100%

.reverse li
    color: brand4
    border-bottom: 1px solid brand1
    
    
.reverse li strong 
    color: white
.reverse .galleryElement ul,
.reverse .galleryElement li
    border:none


 ul.simpleGrid
    border:none
.simpleGrid li
    font-size: 1.2em
    line-height: 1.3em


// picturefill-bg and image teaser
*.picturefill-background a
    color: brand1 
@media ttrigger
    *.picturefill-background.lighten1,
    *.picturefill-background.lighten1 a,
    *.picturefill-background.lighten2,
    *.picturefill-background.lighten2 a
    *.picturefill-background.darktext,
    *.picturefill-background.darktext a
        color: blackAlp50
    *.picturefill-background.lighttext,
    *.picturefill-background.lighttext a
        color: white      
*.picturefill-background a
    //text-decoration: underline





.activeLink, 
nav a:hover,
p a:hover,
li a:hover,
*.picturefill-background a:hover
    color: brand2 !important
    transition: 300ms
/*.activeLink,
nav a:hover
    border-bottom-color: white !important
*/





/* dark slider nav */    
body.darkSlider > header.fixed .siteLogo span,
body.darkSlider > header.fixed nav a.activeLink,
body.darkSlider > header.fixed nav a.activeLink:hover
    color: brand2 !important
    border-bottom: none !important
body.darkSlider > header.fixed nav a,
body.darkSlider > header.fixed nav a.ctaButton
    color: white !important
    border-bottom: 2px solid rgba(255,255,255,1.0) !important
body.darkSlider > header.fixed nav a:not(.activeLink):hover
    color: brand5 !important
    transition: 0.5s
    border-bottom: 2px solid brand5 !important
body.darkSlider > header.fixed nav a:last-child:not(.activeLink):hover
        border-bottom: none !important
/* light slider nav */    
body.lightSlider > header.fixed .siteLogo span,
body.lightSlider > header.fixed nav a.activeLink
    color: brand2 !important
body.lightSlider > header.fixed nav a,
body.lightSlider > header.fixed nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important
body.lightSlider > header.fixed nav a:hover
    color: brand2 !important
    border-color: brand1 !important
    
/* dark theme navs */ 
body.darkTheme > header.sticky .siteLogo span,
body.darkTheme > header.sticky nav a.activeLink,
body.darkTheme > header.sticky nav a.activeLink:hover
    color: white !important
    //border-bottom: 3px solid white !important
body.darkTheme > header.sticky nav a,
body.darkTheme > header.sticky nav a.ctaButton
    font-size: 1.1em
    color: brand2 !important
    //border-bottom: 3px solid rgba(0,0,0,0) !important 
body.darkTheme > header.sticky nav a:hover
    color: brand2 !important
    //border-bottom: 3px solid brand2 !important


/* light theme navs */
body.lightTheme > header.sticky .siteLogo span,
body.lightTheme > header.sticky nav a.activeLink
    color: brand0 !important
body.lightTheme > header.sticky nav a,
body.lightTheme > header.sticky nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important    
body.lightTheme > header.sticky nav a:hover
    color: brand0 !important
    border-color: brand0 !important


header.fixed nav
    display: flex
    column-gap: 0.5em


h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: 10px

// defaults   
h1
    font-weight: 700
    font-size: 1.9em
    text-transform: uppercase
    line-height: 1.05em
    letter-spacing: 0.25em
    text-wrap: balance
    
h2
    font-weight: 700
    font-size: 1.9em
    text-transform: uppercase
    line-height: 1.05em
    letter-spacing: 0.25em
    text-wrap: balance

h3
    font-weight: 700
    font-size: 1.1em
    text-transform: uppercase
    line-height: 1.1em
    letter-spacing: 0.15em 
h4
    font-weight: 400
    font-size: 1.1em
    text-transform: uppercase
    line-height: 1.1em
    letter-spacing: 0.15em  
h5
    font-weight: 700
    font-size: 1em
    text-transform: uppercase
    line-height: 1.3em
    letter-spacing: 0.1em 
h6
    font-weight: 400
    font-size: 1em
    line-height: 1.3em
    letter-spacing: 0.1em
    color: brand1mid
p
    font-weight: 450
    font-size: 0.95em
    line-height: 1.6em
    letter-spacing: -0.01em
    margin-top: 1em



@media phoneRule
    h1
        font-weight: 700
        font-size: 1.3em
        text-transform: uppercase
        line-height: 1.05em
        letter-spacing: 0.25em
    
    h2
        font-weight: 700
        font-size: 1.3em
        text-transform: uppercase
        line-height: 1.05em
        letter-spacing: 0.25em
            
    h3
        font-weight: 700
        font-size: 1.1em
        text-transform: uppercase
        line-height: 1.1em
        letter-spacing: 0.15em 
    h4
        font-weight: 400
        font-size: 1.1em
        text-transform: uppercase
        line-height: 1.1em
        letter-spacing: 0.15em  
    h5
        font-weight: 700
        font-size: 1em
        text-transform: uppercase
        line-height: 1.05em
        letter-spacing: 0.1em 
    h6
        font-weight: 400
        font-size: 1em
        line-height: 1.05em
        letter-spacing: 0.1em
        color: brand1mid
    p
        font-weight: 450
        font-size: 0.9em
        line-height: 1.6em
        letter-spacing: -0.01em
        margin-top: 1em
    h1, h2, h3, h4, h5, h6, p
        margin-bottom: 0.25em;




a.siteLogo:hover
    cursor: pointer

strong 
    font-weight: 600
    //letter-spacing: -0.015em

// modify typo
.small
    font-size: 0.95em    
.balanced,
div.fullW p
    text-wrap: balance





// footer
body > footer
    font-size: 0.9em
    line-height: 1em
    text-align: center 
    font-weight: 400  
body > footer nav 
    display: flex
    flex-direction: column
body > footer a
body > footer i:before
    color: white !important 
body > footer .links a
    color: white !important 
    display: inline-block
    padding: 5px 3px 3px 3px 
    margin: marXXS*0.45 0
    border-bottom: 1px solid brand1

body > footer a:hover,
body > footer i:hover:before
    transition: 0.5s
    color: brand1mid !important
    
body > footer .links a:hover 
    color: brand1mid !important
    text-decoration: none
    transition: 0.5s
    border-bottom: 1px solid brand1mid

body > footer a.activeLink
    color: brand0 !important 
    @media dtrigger
        border-left: 3px solid brand0
        margin-left: padXXS*1.15







.reverse
    color: white
.reverse a:not(.ctaButton)
    color: white
    text-decoration: underline

.balanced 
    text-wrap: balanced

.noUppercase
    text-transform: none




//text effects 
.responsiveLarge
    font-size: 6vw
    line-height: 95%
    letter-spacing: -0.3vw
    font-weight: 700
    @media phoneRule
        font-size:6.5vh
        line-height: 110%
    @media lgdesktopRule
        font-size:5vw
.responsiveLarge .outline
    letter-spacing: -0.2vw
.outline
    -webkit-text-stroke: 1.25px
    -webkit-text-fill-color: rgba(0,0,0,0)
.strokeBrand0
    -webkit-text-stroke-color: brand0
.strokeBrand1
    -webkit-text-stroke-color: brand1
.strokeBrand2
    -webkit-text-stroke-color: brand2
.strokeBrand3
    -webkit-text-stroke-color: brand3
.strokeBrand4
    -webkit-text-stroke-color: brand4
.strokeBrand5
    -webkit-text-stroke-color: brand5
.strokeBrand6
    -webkit-text-stroke-color: brand6
.light
    font-weight: 300
